// Fonts
$font-family-base: "Roboto", sans-serif;

$theme-colors: (
  "primary": #f80000,
  "secondary": black,
  "danger": #f80000,
  "dark": #b3b3b3,
  "grey": #dcdcdc,
  "light": white,
);

$body-bg: #f4f4f4;
$font-size-root: 1rem;

// Cards
$card-border-color: transparent;
$card-border-width: 0px;

// Inputs
$input-bg: white;
$input-border-width: 0px;
$input-border-radius: 0px;

// Buttons
$btn-border-radius: 0px;
